.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}

.polaroid {
  position: relative;
  width: 220px;
}

.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid h4 {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
}


/* Google Search */

.gsc-input {
	width:10px;  
}
  
.gsc-search-button {
	width:10px;
}



/* For publist */
.publist {
  border-collapse:separate; 
  border-spacing: 5em;
}

.td-img {
    width: 125px;
    height:auto;
}

.td-book-img {
  width:400px;
  height:auto;
  border:1px solid #021a40;
}

.publist > tr {
  margin-top: 2em;
  margin-bottom: 100px;
}

th {
  text-align: center;
  font-size: 1.5em;
}

.spacer-row {
  height: 20px;
}



/*
XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: black;
}

.hljs-comment,
.hljs-quote {
  color: #006a00;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #aa0d91;
}

.hljs-name {
  color: #008;
}

.hljs-variable,
.hljs-template-variable {
  color: #660;
}

.hljs-string {
  color: #c41a16;
}

.hljs-regexp,
.hljs-link {
  color: #080;
}

.hljs-title,
.hljs-tag,
.hljs-symbol,
.hljs-bullet,
.hljs-number,
.hljs-meta {
  color: #1c00cf;
}

.hljs-section,
.hljs-class .hljs-title,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #5c2699;
}

.hljs-attribute,
.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}